In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./Datasets/nd_gain_countryindex_2025/resources/gain/gain.csv')
print(df.head())

  ISO3         Name       1995       1996       1997       1998       1999  \
0  AFG  Afghanistan  34.783530  34.775074  34.988812  35.293407  35.177507
1  ALB      Albania  41.396494  41.379214  41.333451  41.100159  41.026585
2  DZA      Algeria  45.208524  45.310608  44.711577  44.217693  44.233838
3  AND      Andorra        NaN        NaN        NaN        NaN        NaN
4  AGO       Angola  34.167486  34.149985  34.130968  34.111716  34.072943

        2000       2001       2002  ...       2014       2015       2016  \
0  35.065559  35.198269  35.335123  ...  31.544162  31.795961  31.903926
1  41.381430  41.395906  41.602467  ...  46.435235  47.225916  47.113945
2  44.198576  44.255934  44.295123  ...  44.982398  45.123443  45.471441
3        NaN        NaN        NaN  ...        NaN        NaN        NaN
4  34.030188  34.129440  34.436386  ...  31.935004  31.790461  32.897104

        2017       2018       2019       2020       2021       2022       2023
0  31.346547  31.165179  31.910511  31.727814  32.833517  32.633596  32.765017
1  47.064079  47.340870  47.412095  47.738609  48.443320  49.348682  49.747451
2  46.624614  46.353467  46.487537  47.531633  47.246477  47.391899  47.689392
3        NaN        NaN        NaN        NaN        NaN        NaN        NaN
4  33.213149  34.102874  34.774563  35.292144  36.595834  36.894235  37.043357

[5 rows x 31 columns]